@page
@using System.Web
@using Newtonsoft.Json
@model AccountModel
@{
	ViewData["Title"] = "Account Page";
}

<div class="">
	<h1 class="display-4">Account Page</h1>

	<p>You are logged in to this application as Paddle Customer ID <b>@Model.Boathouse.paddleCustomerID</b>.</p>

	<p>This is the return value from the Boathouse API:</p>
	<pre>@JsonConvert.SerializeObject(Model.Boathouse, Formatting.Indented)</pre>

	@if (!Model.Boathouse.activeSubscriptions.Any())
	{
		<p>This is the pricing table that Boathouse generates for you from your plan configuration. You can subscribe to a plan using the test credit card information below</p>

		<div style="margin: 5em 0">
			@Html.Raw(Model.Boathouse.pricingTableHtml)
		</div>

		<div class="border border-red-500 rounded-xl p-5 bg-red-50 text-base">
			<div class="text-lg font-bold">Use this test credit card for the checkout</div>

			<ul>
				<li>Card: 4000 0566 5566 5556	</li>
				<li>Name: Any</li>
				<li>CVC: 100</li>
				<li>Expiry: @DateTime.Now.Month/@DateTime.Now.Year</li>
			</ul>
		</div>
	}
	else
	{
		<p>You already have a subscription. Click here to open your <a href="@Model.Boathouse.billingPortalUrl">billing portal</a>.</p>
	}

</div>

@section Scripts {
	<script src="https://cdn.paddle.com/paddle/v2/paddle.js"></script>
	<script type="text/javascript">
		Paddle.Environment.set("sandbox");
		Paddle.Initialize({
			token: 'test_ad79b30a7bab65b54ee5213f2b5',
			eventCallback: (e) => {
				if (e.name == "checkout.completed") location.href = "Processing?pids=" + e.data.items.map(x => x.price_id).join(",");
			}
		});
	</script>
}



